/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bol-hearts: #000000;
    --bol-eco: #008000;
    --bol-footer: #1A1A1A;
    --bol-discount: #FF0000;
    --bol-header: #FF6900;
}

.container {
    width: 70%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    width: calc(100% / 12 * 4);
}

/* #endregion Common */

/* #region utilities */
/* #endregion utilities */

/* #region header */
header {
    background-color: var(--bol-header);
    color: white;
    box-shadow: 0 0 10px gray;
    padding: 1rem 0;
}

.target span,
.account i {
    padding-right: 0.5rem;
}

.logo {
    width: 100px;
}

.sito {
    text-align: center;
}

.account {
    display: flex;
    justify-content: flex-end;
}

/* #endregion header */

/* #region main */
.model {
    max-width: 100%;
}

.model_hover{
    max-width: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

main .col-4{
    padding: 2rem 0.5rem;
}

.card {
    position: relative;
    display: inline-block;
}

.eco {
    background-color: var(--bol-eco);
    color: white;
    bottom: 150px;
    left: 58px;
}

.sales {
    background-color: var(--bol-discount);
    color: white;
    bottom: 150px;
    left:0;
}

.last{
    left:0;
    bottom: 150px;
}
.eco,
.sales,
.heart {
    width: max-content;
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    position: absolute;
    z-index: 3;
}

.price{
    font-size: small;
}

.price strong{
    color: var(--bol-discount);
}

.not_sale{
    text-decoration: line-through;
}

.heart{
    font-size: 35px;
    right: 0;
    top: 25px;
    padding: 2px 12px;
    background-color: white;
}

.card:hover .model_hover{
    display:inline;
}

.card:hover{
    cursor: pointer;
}

/* #endregion main */

/* #region footer */
footer{
    background-color: var(--bol-footer);
    color: white;
    padding: 1.5rem;
}

footer .row{
    justify-content: space-between;
}
h2 {
    font-size: 15px;
    padding-bottom: 0.5rem;

}

span{
    padding-right: 1rem;
    font-size: 10px;
}

.social{
    text-align: center;
}

/* #endregion footer */